.form{
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.475);
    border-radius: 10px;
    padding: 10px 20px;
}

.inp{
    display: flex;
    flex-direction: column;
    margin-bottom: 14px;
}

.inp input{
    border: none;
    border-bottom: 2px solid rgba(89, 85, 85, 0.642);
    margin-top: 2px;
}

.inp.title input{
    border-bottom: 2px solid rgb(201, 69, 100);
}

.inp.amount input{
    border-bottom: 2px solid rgb(201, 69, 100);
}



.inp input:focus{
    outline: none;
}

.btn{
    background-color: rgb(244, 6, 6);
    padding: 6px 20px;
    border: none;
    border-radius: 2px;
    color: white;
    cursor: pointer;
}

.btn.valid{
    cursor: not-allowed;
    background-color: rgb(151, 151, 151);
}
.btn:hover,
.btn.active{
    background-color: rgb(137, 4, 4);
}

.btn.valid:hover{
    background-color:rgb(151, 151, 151);
}