.item{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 8px rgba(128, 128, 128, 0.352);
    padding: 0px 20px;
    margin: 10px 0;
} 