.list{
    display: flex;
    flex-direction: column;
}

.line{
    width: 100%;
    height: 3px;
    background-color: grey;
}

.cl:hover{
    background-color: rgba(128, 128, 128, 0.299);
    cursor: pointer;
}
