.search{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 9px rgba(0, 0, 0, 0.475);
    border-radius: 10px;
    padding: 2px 20px;
    margin: 20px 0;
}

.search input{
   border: 1px solid black;
}

.search input:focus{
    outline: 1px solid red;
    border: 1px solid red;
}